<div class="house-section container">
    <h1>Dormitorios y ocupación</h1>
    <div class="img-container row">
        <div class="img-small col-md-4">
            <img src="{{ asset('/assets/img/casa-rural-don-alonso-dormitorio-01.jpg') }}" alt="" />
        </div>
        <div class="img-small col-md-4">
            <img src="{{ asset('/assets/img/casa-rural-don-alonso-dormitorio-02.jpg') }}" alt="" />
        </div>
        <div class="img-small col-md-4">
            <img src="{{ asset('/assets/img/casa-rural-don-alonso-dormitorio-03.jpg') }}" alt="" />
        </div>
    </div>
    <div class="house-info row">
        <div class="col-md-12 text-center">
            Seis dormitorios, dobles y triples, con camas de 135, 150 y 190 cm, donde pueden hospedarse hasta <strong>16 personas.</strong><br/>
            La planta de arriba cuenta también con <strong>tres baños completísimos,</strong> además de una agradable zona de lectura o de juegos de mesa.
        </div>
    </div>
    <div class="img-container row">
        <div class="img-small col-md-4">
            <img src="{{ asset('/assets/img/casa-rural-don-alonso-aseo-planta-alta.jpg') }}" alt="" />
        </div>
        <div class="img-small col-md-4">
            <img src="{{ asset('/assets/img/casa-rural-don-alonso-zona-lectura-planta-alta.jpg') }}" alt="" />
        </div>
        <div class="img-small col-md-4">
            <img src="{{ asset('/assets/img/casa-rural-don-alonso-planta-alta.jpg') }}" alt="" />
        </div>
    </div>
</div>