{% extends "base.html.twig" %}
{% block title %}
    Casa de Don Alonso
{% endblock %}

{% block styles %}
    {{ parent() }}
    <link
        rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/css/bootstrap-datepicker.min.css"
    />
    <link
        rel="stylesheet"
        href="{{ asset('/assets/css/slide.css') }}"
    />
{% endblock %}

{% block scripts %}
    {{ parent() }}
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/js/bootstrap-datepicker.min.js"
    >
    </script>

    <script>
        $(document).ready(function() {
            $('.js-datepicker').datepicker({
                format: 'dd-mm-yyyy'
            }).on('changeDate', function(e){
                $(this).datepicker('hide');
                var fromS = $('#booking_fromDate').val().split('-');
                var toS = $('#booking_toDate').val().split('-');
                var fromDate = fromS.length === 3 
                             ? new Date(fromS[2], fromS[1] - 1, fromS[0])
                             : null;
                var toDate = toS.length === 3
                            ? toS && new Date(toS[2], toS[1] - 1, toS[0])
                            : null;

                var popup = $('.error-popup').first();
                var datesAreFilled = fromDate !== null && toDate !== null;
                var invalidDates = toDate <= fromDate;
                if (datesAreFilled && invalidDates) {
                    $('.js-datepicker').addClass('has-error');
                    popup.html('La fecha de salida debe ser posterior a la de entrada');
                    var ref = $('#booking_toDate');
                    var refWidth = ref.width();
                    var popper = new Popper(ref, popup, {
                        placement: 'bottom'
                    });
                    popup.width(refWidth + 20);
                    popup.removeClass('invisible');
                } else {
                    popup.addClass('invisible');
                    $('.js-datepicker').removeClass('has-error');
                    popup.html('');
                }
            });
        });
    </script>
{% endblock %}

{% block body %}
    <div class="header-desktop">
        {% include 'common/header.html.twig' %}
    </div>
    <div class="background"></div>
    <div class="container booking-form-container">
        {% include 'forms/booking-form.html.twig' with {'form': form} %}
        <div class='error-popup invisible'></div>
    </div>
    <div class="section-separator"></div>
    <div class="house-section container" id="about">
        <h1>Sobre la casa</h1>
        <div class="img-container row">
            <div class="img-small col-md-4">
                <img src="{{ asset('/assets/img/da01.jpg') }}" alt="" />
            </div>
            <div class="img-small col-md-4">
                <img src="{{ asset('/assets/img/da02.jpg') }}" alt="" />
            </div>
            <div class="img-small col-md-4">
                <img src="{{ asset('/assets/img/da03.jpg') }}" alt="" />
            </div>
        </div>
        <div class="house-info row">
            <div class="col-md-12 text-center">
                Una casa espectacular, con <strong>382 m<sup>2</sup> construidos</strong> divididos en varios espacios y ambientes.
            </div>
        </div>
    </div>

    <div class="house-section container" id="salon">
        <div class="row">
            <div class="img-medium col-md-6">
                <img src="{{ asset('/assets/img/da04.jpg') }}" alt="" />
            </div>
            <div class="img-medium col-md-6">
                <img src="{{ asset('/assets/img/da05.jpg') }}" alt="" />
            </div>
        </div>
    </div>

    <div class="house-section container" id="bedrooms">
        <h1>Dormitorios y ocupación</h1>
        <div class="img-container row">
            <div class="img-small col-md-4">
                <img src="{{ asset('/assets/img/casa-rural-don-alonso-dormitorio-01.jpg') }}" alt="" />
            </div>
            <div class="img-small col-md-4">
                <img src="{{ asset('/assets/img/casa-rural-don-alonso-dormitorio-02.jpg') }}" alt="" />
            </div>
            <div class="img-small col-md-4">
                <img src="{{ asset('/assets/img/casa-rural-don-alonso-dormitorio-03.jpg') }}" alt="" />
            </div>
        </div>
        <div class="house-info row">
            <div class="col-md-12 text-center">
                Seis dormitorios, dobles y triples, con camas de 135, 150 y 190 cm, donde pueden hospedarse hasta <strong>16 personas.</strong><br/>
                La planta de arriba cuenta también con <strong>tres baños completísimos,</strong> además de una agradable zona de lectura o de juegos de mesa.
            </div>
        </div>
        <div class="img-container row">
            <div class="img-small col-md-4">
                <img src="{{ asset('/assets/img/casa-rural-don-alonso-aseo-planta-alta.jpg') }}" alt="" />
            </div>
            <div class="img-small col-md-4">
                <img src="{{ asset('/assets/img/casa-rural-don-alonso-zona-lectura-planta-alta.jpg') }}" alt="" />
            </div>
            <div class="img-small col-md-4">
                <img src="{{ asset('/assets/img/casa-rural-don-alonso-planta-alta.jpg') }}" alt="" />
            </div>
        </div>
    </div>

    <div class="house-section container" id="activities">
        <h1>Actividades cercanas</h1>
        <div class="row">
            <div class="img-small col-md-4">
                <img src="{{ asset('/assets/img/castillo-de-coca.jpg') }}" alt="" />
            </div>
            <div class="img-small col-md-4">
                <img src="{{ asset('/assets/img/casa-rural-don-alonso-cochinillo.jpg') }}" alt="" />
            </div>
            <div class="img-small col-md-4">
                <img src="{{ asset('/assets/img/castillo-2.jpg') }}" alt="" />
            </div>
        </div>
        <div class="house-info row">
            <div class="col-md-12 text-center">
                Disfruten de las múltiples actividades cercanas pero, sobre todo, no olviden <strong>disfrutar de la compañía</strong>.<br/>
                Se puede encargar asado de cordero y cochinillo.
            </div>
        </div>
    </div>
    <div class="house-section container" id="location">
        <h1>Ubicación</h1>
        <div class="row">
            <div class="col-md-12 text-center">
                <!-- GOOGLE MAPS AUTOGENERATED IFRAME -->
                <iframe 
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3003.8838509127404!2d-4.572212149588855!3d41.15888571799165!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd40cd7b1eff639f%3A0x8ada3e28addb944e!2sCasa+Rural+Don+Alonso!5e0!3m2!1ses!2ses!4v1546086799838"
                    width="80%"
                    height="450"
                    frameborder="0"
                    allowfullscreen
                >
                </iframe>
            </div>
        </div>
        <div class="house-info row">
            <div class="col-md-12 text-center">
                Estamos en Calle Reoyo, 11.<br/>
                40460, Santiuste de San Juan Bautista, <strong>Segovia</strong><br/>
            </div>
        </div>
    </div>
{% endblock %}